* {
    box-sizing: border-box;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}

.out-of-sight {
  position: relative;
  left: -10000px;
  top: auto;
}

.out-of-sight:focus {
  left: 0;
}

nav a {
  padding: .5rem;
  margin: .5rem;
}

.comment-label {
  padding: .5rem;
  margin: .5rem;

}

.contact-nav {
  padding: .5rem;
  margin: .5rem;
}

.container {

  display: flex;
  flex-direction: row;
  border-style: none;
  margin-bottom: 2rem;


}

.map {

  flex-grow: 1;
  border-style: solid;

}

.address {

  flex-grow: 1;
  border-style: solid;

}

.address p {
  color: blue;
}

.grid-schedule {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background-color: lightgrey;
  padding: 2rem;
  border-style: solid;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 1rem;
  text-align: center;
}
